<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('mall.cate/add')}"
               data-auth-edit="{:auth('mall.cate/edit')}"
               data-auth-delete="{:auth('mall.cate/delete')}"
               data-auth-pass="{:auth('mall.cate/pass')}"
               data-auth-reject="{:auth('mall.cate/reject')}"
               data-auth-secondaudit="{:auth('mall.cate/secondaudit')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>