<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-showinfo="{:auth('system.loan/showinfo')}"
               data-auth-addqq="{:auth('system.loan/addqq')}"
               data-auth-resetinfo="{:auth('system.loan/resetinfo')}"
               data-auth-pass="{:auth('system.loan/secondaudit')}"
               data-auth-reject="{:auth('system.loan/reject')}"
               data-auth-secondaudit="{:auth('system.loan/secondaudit')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>