<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-showinfo="{:auth('system.order/showinfo')}"
               data-auth-changestatus="{:auth('system.order/changestatus')}"
               data-auth-changemoney="{:auth('system.order/changemoney')}"
               data-auth-contract="{:auth('system.order/contract')}"
               data-auth-changecard="{:auth('system.order/changecard')}"
               data-auth-deleter="{:auth('system.order/deleter')}"
               data-auth-remark="{:auth('system.order/remark')}"
               data-auth-loaninfo="{:auth('system.order/loaninfo')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>