<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('system.orderstatus/add')}"
               data-auth-edit="{:auth('system.orderstatus/edit')}"
               data-auth-delete="{:auth('system.orderstatus/delete')}"
               data-auth-pass="{:auth('system.orderstatus/pass')}"
               data-auth-reject="{:auth('system.orderstatus/reject')}"
               data-auth-secondaudit="{:auth('system.orderstatus/secondaudit')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>