<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('system.notice/add')}"
               data-auth-edit="{:auth('system.notice/edit')}"
               data-auth-delete="{:auth('system.notice/delete')}"
               data-auth-pass="{:auth('system.notice/pass')}"
               data-auth-reject="{:auth('system.notice/reject')}"
               data-auth-secondaudit="{:auth('system.notice/secondaudit')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>